<form action="/students/update/<%= @student.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <div>
    <label>First Name:</label>
    <input type="text" name="student[first_name]"  value="<%= @student.first_name %>" />
  </div>
  <div>
    <label>Last Name</label>
    <input type="text" name="student[last_name]" value="<%= @student.last_name %>"/>
  </div>
  <div>
    <label>Email Address</label>
    <input type="text" name="student[email]" value="<%= @student.email %>"/>
  </div>
  <div>
     <label>Dojo</label>

    <select name="student[dojo_id]">
    	<% @all_locations.each do |loc| %>
    	<% if @student.dojo_id == loc.id %>
    		<option  selected value=<%= loc.id %>> <%= loc.branch %></option>
    	<% else %>
    		<option   value=<%= loc.id %>> <%= loc.branch %></option>
    	<% end %>
    	<% end %>
    </select>
  </div>
  <input type="submit" value="Create" />
</form>