<%= link_to 'Logout', sessions_destroy_path %>
<h4>Welcome, <%= current_user.first_name.titleize %></h4>
<a href="/users/<%= current_user.id %>">Create a secret</a>
<h1>Secrets</h1>

<div class="row">
	<div class="col-1"></div>
		<div class="col-5">
			<h4>Secrets:</h4>
			<% @all_secrets.each do |secret|%>
				<p><%= secret.content %>
				<% unless current_user.secrets_liked.include? secret %>
					<a href="/like/<%= secret.id %>">Like</a>
				<% else %>
					<a href="/unlike/<%= secret.id %>">Unlike</a>
				<% end %>	
				<% if secret.user_id == current_user.id %>
					<a href="/delete/<%= secret.id %>">Delete</a>
				<% end %>
				</p>
			<% end %>

		</div>
	<div class="col-5">
		
	</div>
</div>