<h1>Listing <%= @all.count %> Dojos</h1>
<table>
	<thead>
		<th>Coding Dojo Branch</th>
		<th>Street</th>
		<th>City</th>
		<th>State</th>
	</thead>
	<tbody>
		<% @all.each do |dojo| %>
		<tr>
			<td><%= dojo.branch %></td>
			<td><%= dojo.street %></td>
			<td><%= dojo.city %></td>
			<td><%= dojo.state %></td>
		</tr>
		<% end %>
	</tbody>
</table>